main{
    width: 80%;
    margin: 0 auto;
}

#task{
    background-size: auto;
    background-color:#47ADF1;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}

#section{
    color: gray;
    border-color: gray;
    border-radius: 15%;
    border-style: outset;
}

