#logo,
.toboolist{
    vertical-align: middle;
}

.toboolist{
    font-size: 400%;
}

header{
    padding-top: 3%;
    padding-bottom: 7%;
}

main{
    width: 75%;
    margin: 0 auto;
    
}

#list{
    padding-bottom: 3%;
}

#task{
    background-size: auto;
    background-color:#47ADF1;
    color: rgb(255, 255, 255);
    border-radius: 9%;
    padding: 0.5%;
}

#section{
    color: gray;
    border-style: solid;
    border-width: 1px 1px;
    border-color: gray;
    border-radius: 9%;
    padding: 0.5%;
}

.check{
    color: green;
    border-color: green;
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 100%;
    padding: 0.5%;
}

.cross{
    color: red;
    border-color: red;
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 100%;
    padding: 0.5%;
}

#color-blue{
    background-color:#47ADF1;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

#color-olive{
    background-color:#B0C926;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

#color-purple{
    background-color:#9C72E4;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

#color-green{
    background-color:#64C0A9;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

#color-orange{
    background-color:#F29E33;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

#color-pink{
    background-color:#D863A1;
    border-width: 1px 1px;
    border-radius: 10%;
    padding: 0.4%;
    color: white;
}

    